<div class="about-cont">
    <div class="about-data">
        <div class="desc">
            <h1>
                {{descTitle}}
            </h1>
            <p>{{descDesc}}</p>
        </div>
        <div class="feature">
            <h2>{{aboutFeature}}</h2>
            <div>
                <p>{{Feature1}}</p>
                <p>{{Feature2}}</p>
                <p>{{Feature3}}</p>
                <p>{{Feature4}}</p>
            </div>
        </div>
    </div>
    <div class="about-images">
        <app-aboutimagecard image1="../../../assets/image1.png" image-title="Personalized Plans"></app-aboutimagecard>
        <app-aboutimagecard image1="../../../assets/image2.png" image-title="Progress Tracking" class="img2"></app-aboutimagecard>
        <app-aboutimagecard image1="../../../assets/image3.png" image-title="Healthy Lifestyle"></app-aboutimagecard>
    </div>

</div>